.classpath
/.classpath
.project
.mymetadata
.settings/
WebRoot/WEB-INF/classes/
target/
.myeclipse/
.DS_Store
bin
Thumbs.db
build/
build

WebRoot/js/api/app-api-min.js
WebRoot/js/api/app-api.js
WebRoot/js/api/app-jquery-min.js
WebRoot/js/api/app-jquery.js
WebRoot/js/api/util-min.js
WebRoot/js/calendarioFull/app-calendarioFull-min.js
WebRoot/js/calendarioFull/app-calendarioFull.js
WebRoot/js/ext/app-ext-min.js
WebRoot/js/ext/app-ext.js
WebRoot/js/itcVertebral-min.js

